@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src: url("../fonts/codropsicons/codropsicons.eot");
	src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
}

body {
	font-family: "Avenir Next", Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	color: #fff;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
	overflow-x: hidden;
	/*width: 100vw;*/
	margin:0;
}

a {
	outline: none;
	color: #77d45b;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #fff;
}

button:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


/* Content */

.content {
	padding: 1em 0 3em;
	max-width: 1080px;
	margin: 0 auto;
}


/* Demo ad style */

body #cdawrap {
	top: 15px;
	right: auto;
	left: 15px;
	background-color: rgba(0, 0, 0, 0.6);
	border: none;
}

body #cdawrap .carbon-text {
	color: #EBEBEB;
}

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 2em 5%;
	}
}

@media screen and (max-width: 40em) {
	.codrops-header h1 {
		font-size: 2.15em;
	}
}
